<html>
    <head>
        <title>Hello World</title>
        <link rel="stylesheet" type="text/css" href="/style.css">
    </head>
    <body>
        <div class="container">
            제목 : {{ title }}<br/>
            내용 : {{ contents }}
        </div>
    </body>
</html>
