<html>
    <head>
        <title>Hello World</title>
        <link rel="stylesheet" type="text/css" href="/style.css">
    </head>
    <body>
        <div class="container">
            <h1>글쓰기 화면</h1>
            <form action="/join" method="post">
            아이디 : <input type="text" name="id" size="70"/><br/>
            비밀번호 : <input type="password" name="pass" size="70"/><br/>
            <input type="submit"/>
            </form>
        </div>
    </body>
</html>
