<html>
    <head>
        <title>Hello World</title>
        <link rel="stylesheet" type="text/css" href="/style.css">
    </head>
    <body>
        <div class="container">
            <h1>글쓰기 화면</h1>
            <form action="/" method="post">
            제목 : <input type="text" name="title" size="70"/><br/>
            내용 : <textarea name="contents" rows="5" cols="70"></textarea>
            <input type="submit"/>
            </form>
        </div>
    </body>
</html>
